body {
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}

table {
  margin-right: auto;
  margin-left: auto;
  border-collapse: collapse;
}

td {
  width: 15px;
  height: 15px;
  padding: 0;
  border: 1px solid black;
  cursor: pointer;
}
